DATABASE_URL="postgresql://user:password@localhost:5432/corteca_db"
NEXTAUTH_SECRET=""

# Corteca Home Controller API
CORTECA_API_BASE_URL="https://l1api.YOURINSTANCE.homewifi.nokia.com"
CORTECA_CLIENT_ID=""
CORTECA_CLIENT_SECRET=""
